@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Form  */

form {
    width: min(100% - 12vw, 500px);
    margin-inline: auto;
}

body {
    background-image: linear-gradient(gray, rgba(0, 0, 0, 0.422), gray);
    background-position: center;
    background-size: cover;
}

@layer components {
    .footer {
        @apply fixed bottom-0 w-full text-white flex md:gap-5 md:py-4 items-center gap-4 py-2 justify-center max-md:flex-col bg-black
    }

    .header {
        @apply bg-black py-4 md:px-8 px-6
    }

    .form {
        @apply flex items-start justify-center
    }

    .input {
        @apply rounded-full shadow-sm h-12 outline-none border max-sm:w-[250px] w-[320px] px-4 py-2
    }

    .formContainer {
        @apply mt-8 border overflow-x-auto md:h-[350px] flex flex-col items-center border-solid pt-10 lg:h-[450px] max-sm:w-[300px] w-[400px] max-md:h-[320px] border-borderClr rounded-3xl bg-formBG backdrop-blur-0
    }
}

@layer utilities {
    .footertext {
        @apply cursor-pointer text-lg hover:opacity-60 duration-300 transition-all
    }

    .headertext {
        @apply text-white cursor-pointer max-sm:text-center text-3xl font-medium
    }

}